In [1]:
# Initial imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from pathlib import Path

%matplotlib inline

In [3]:
# Load Data 
sales_df = pd.read_csv(Path("../../data/raw_data/house_sales_by_month.csv"), index_col="Date", parse_dates=True, infer_datetime_format=True)
sales_df

             Sales          Dollar  Average   Median    Total  Months
Date
2010-01-01  10,797   1,903,489,506  176,298  135,888  127,713     6.9
2010-02-01  13,781   2,473,331,194  179,474  139,997  131,375     7.1
2010-03-01  20,465   3,765,171,165  183,981  142,833  138,366     7.4
2010-04-01  22,893   4,213,410,864  184,048  145,475  139,065     7.3
2010-05-01  23,812   4,477,632,292  188,041  146,844  146,389     7.5
...            ...             ...      ...      ...      ...     ...
2020-07-01  43,877  14,380,910,360  327,755  268,000   80,619     2.7
2020-08-01  38,384  12,513,737,543  326,014  265,000   74,540     2.4
2020-09-01  37,114  12,081,786,925  325,532  265,000   70,617     2.3
2020-10-01  36,610  12,102,699,530  330,585  268,000   68,174     2.1
2020-11-01  31,788  10,587,934,474  333,080  269,320   62,819     1.9

[131 rows x 6 columns]