In [8]:
#Error importing numpy, citation for Theano: https://stackoverflow.com/questions/55046335/numpy-attributeerror-with-theano-module-numpy-core-multiarray-has-no-attribut
import theano
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

AttributeError: module 'numpy.core.multiarray' has no attribute '_set_madvise_hugepage'

In [7]:
df = pd.read_csv('../../Data/housing_data_encoded.csv',infer_datetime_format=True, parse_dates=True)
df = df.drop(columns="State_TX")
df

,Date,Identifier,Bedroom,Price,Average_Market_Days,RegionName_Crosby,RegionName_Houston,RegionName_Pasadena,RegionName_Porter,Metro_Houston-The Woodlands-Sugar Land,CountyName_Harris County,CountyName_Montgomery County
0,2010-01-31,2,1,67653.0,133.0,0,1,0,0,1,1,0
1,2010-01-31,2,2,89995.0,133.0,0,1,0,0,1,1,0
2,2010-01-31,2,3,116641.0,133.0,0,1,0,0,1,1,0
3,2010-01-31,2,4,167849.0,133.0,0,1,0,0,1,1,0
4,2010-01-31,2,5,303323.0,133.0,0,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1215,2020-02-29,223,1,79380.0,100.0,0,0,1,0,1,1,0
1216,2020-02-29,223,2,121517.0,100.0,0,0,1,0,1,1,0
1217,2020-02-29,223,3,159204.0,100.0,0,0,1,0,1,1,0
1218,2020-02-29,1811,2,157660.0,108.0,0,0,0,1,1,0,1
1219,2020-02-29,2134,2,125585.0,156.0,1,0,0,0,1,1,0

In [30]:
#Citation: https://stackoverflow.com/questions/53731432/return-pandas-multiindex-as-list-of-tuples

arrays = [df["Identifier"],
          df["Bedroom"],
          df["Date"]]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['Region_ID', 'Bedrooms','Date'])

TX_nbhoods_df = df.set_index(index)
TX_nbhoods_df = TX_nbhoods_df.drop(columns=["Identifier","Bedroom","Date"])
TX_nbhoods_df = TX_nbhoods_df.sort_index()
TX_nbhoods_df.head(20)

                                 Price  Average_Market_Days  \
Region_ID Bedrooms Date
2         1        2010-01-31  67653.0                133.0
                   2010-02-28  67444.0                137.0
                   2010-03-31  67260.0                134.0
                   2010-04-30  67041.0                112.0
                   2010-05-31  66721.0                 92.5
                   2010-06-30  66084.0                 98.0
                   2010-07-31  65187.0                 97.0
                   2010-08-31  64471.0                 99.0
                   2010-09-30  64045.0                106.0
                   2010-10-31  63894.0                116.0
                   2010-11-30  63800.0                124.0
                   2010-12-31  63651.0                129.0
                   2011-01-31  63342.0                133.0
                   2011-02-28  62769.0                130.0
                   2011-03-31  62075.0                124.0
                   2011-04-30  61670.0                113.0
                   2011-05-31  61609.0                108.0
                   2011-06-30  61770.0                102.0
                   2011-07-31  62065.0                104.0
                   2011-08-31  62317.0                108.5

                               RegionName_Crosby  RegionName_Houston  \
Region_ID Bedrooms Date
2         1        2010-01-31                  0                   1
                   2010-02-28                  0                   1
                   2010-03-31                  0                   1
                   2010-04-30                  0                   1
                   2010-05-31                  0                   1
                   2010-06-30                  0                   1
                   2010-07-31                  0                   1
                   2010-08-31                  0                   1
                   2010-09-30                  0                   1
                   2010-10-31                  0                   1
                   2010-11-30                  0                   1
                   2010-12-31                  0                   1
                   2011-01-31                  0                   1
                   2011-02-28                  0                   1
                   2011-03-31                  0                   1
                   2011-04-30                  0                   1
                   2011-05-31                  0                   1
                   2011-06-30                  0                   1
                   2011-07-31                  0                   1
                   2011-08-31                  0                   1

                               RegionName_Pasadena  RegionName_Porter  \
Region_ID Bedrooms Date
2         1        2010-01-31                    0                  0
                   2010-02-28                    0                  0
                   2010-03-31                    0                  0
                   2010-04-30                    0                  0
                   2010-05-31                    0                  0
                   2010-06-30                    0                  0
                   2010-07-31                    0                  0
                   2010-08-31                    0                  0
                   2010-09-30                    0                  0
                   2010-10-31                    0                  0
                   2010-11-30                    0                  0
                   2010-12-31                    0                  0
                   2011-01-31                    0                  0
                   2011-02-28                    0                  0
                   2011-03-31                    0                  0
                   2011-04-30                    0                  0
                   2011-05-31                    0                  0
                   2011-06-30                    0                  0
                   2011-07-31                    0                  0
                   2011-08-31                    0                  0

                               Metro_Houston-The Woodlands-Sugar Land  \
Region_ID Bedrooms Date
2         1        2010-01-31                                       1
                   2010-02-28                                       1
                   2010-03-31                                       1
                   2010-04-30                                       1
                   2010-05-31                                       1
                   2010-06-30                                       1
                   2010-07-31                                       1
                   2010-08-31                                       1
                   2010-09-30                                       1
                   2010-10-31                                       1
                   2010-11-30                                       1
                   2010-12-31                                       1
                   2011-01-31                                       1
                   2011-02-28                                       1
                   2011-03-31                                       1
                   2011-04-30                                       1
                   2011-05-31                                       1
                   2011-06-30                                       1
                   2011-07-31                                       1
                   2011-08-31                                       1

                               CountyName_Harris County  \
Region_ID Bedrooms Date
2         1        2010-01-31                         1
                   2010-02-28                         1
                   2010-03-31                         1
                   2010-04-30                         1
                   2010-05-31                         1
                   2010-06-30                         1
                   2010-07-31                         1
                   2010-08-31                         1
                   2010-09-30                         1
                   2010-10-31                         1
                   2010-11-30                         1
                   2010-12-31                         1
                   2011-01-31                         1
                   2011-02-28                         1
                   2011-03-31                         1
                   2011-04-30                         1
                   2011-05-31                         1
                   2011-06-30                         1
                   2011-07-31                         1
                   2011-08-31                         1

                               CountyName_Montgomery County
Region_ID Bedrooms Date
2         1        2010-01-31                             0
                   2010-02-28                             0
                   2010-03-31                             0
                   2010-04-30                             0
                   2010-05-31                             0
                   2010-06-30                             0
                   2010-07-31                             0
                   2010-08-31                             0
                   2010-09-30                             0
                   2010-10-31                             0
                   2010-11-30                             0
                   2010-12-31                             0
                   2011-01-31                             0
                   2011-02-28                             0
                   2011-03-31                             0
                   2011-04-30                             0
                   2011-05-31                             0
                   2011-06-30                             0
                   2011-07-31                             0
                   2011-08-31                             0

In [33]:
def window_data(df, window, feature_col_number, target_col_number):
    X = []
    y = []
    for i in range(len(df) - window - 1):
        features = df.iloc[i:(i + window), feature_col_number]
        target = df.iloc[(i + window), target_col_number]
        X.append(features)
        y.append(target)
    return np.array(X), np.array(y).reshape(-1, 1)

In [34]:
window_size = 2
feature_column = 0
target_column = 0
X, y = window_data(TX_nbhoods_df, window_size, feature_column, target_column)

In [1]:
X

NameError: name 'X' is not defined

In [42]:
split = int(0.9 * len(X))
X_train = X[: split]
X_test = X[split:]
y_train = y[: split]
y_test = y[split:]

In [44]:
scaler = MinMaxScaler()
scaler.fit(X)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
scaler.fit(y)
y_train = scaler.transform(y_train)
y_test = scaler.transform(y_test)

In [45]:
X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], 1))
X_test = X_test.reshape((X_test.shape[0], X_test.shape[1], 1))

ModuleNotFoundError: No module named 'tensorflow'