In [21]:
#Initial imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from pathlib import Path

%matplotlib inline

## Data Preprocessing

RNN input requires an array data type. The `full_review_text` column will be transformed into the `X` array and the “sentiment” column into the `y` array.

In [30]:
#Import Data
df = pd.read_csv('../data/housing_data_encoded.csv')
#test = pd.read_csv("/data/Housing/test.csv")
df.tail()

,Date,Identifier,Bedroom,Price,Average_Market_Days,RegionName_Crosby,RegionName_Houston,RegionName_Pasadena,RegionName_Porter,State_TX,Metro_Houston-The Woodlands-Sugar Land,CountyName_Harris County,CountyName_Montgomery County
1215,2020-02-29,223,1,79380.0,100.0,0,0,1,0,1,1,1,0
1216,2020-02-29,223,2,121517.0,100.0,0,0,1,0,1,1,1,0
1217,2020-02-29,223,3,159204.0,100.0,0,0,1,0,1,1,1,0
1218,2020-02-29,1811,2,157660.0,108.0,0,0,0,1,1,1,0,1
1219,2020-02-29,2134,2,125585.0,156.0,1,0,0,0,1,1,1,0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1220 entries, 0 to 1219
Data columns (total 13 columns):
Date                                      1220 non-null object
Identifier                                1220 non-null int64
Bedroom                                   1220 non-null int64
Price                                     1151 non-null float64
Average_Market_Days                       1030 non-null float64
RegionName_Crosby                         1220 non-null int64
RegionName_Houston                        1220 non-null int64
RegionName_Pasadena                       1220 non-null int64
RegionName_Porter                         1220 non-null int64
State_TX                                  1220 non-null int64
Metro_Houston-The Woodlands-Sugar Land    1220 non-null int64
CountyName_Harris County                  1220 non-null int64
CountyName_Montgomery County              1220 non-null int64
dtypes: float64(2), int64(10), object(1)
memory usage: 124.0+ KB

In [24]:
# drop N/A
#housing_df=df.dropna()

In [25]:
# Creating the X and y sets
#X = housing_df.drop(columns=["Price"]).values
#y = housing_df["Price"].values

In [35]:
#slice data into Training and Testing
train = df.loc['2010':'2019']

test = df.loc['2020':]
test.head()

,Date,Identifier,Bedroom,Price,Average_Market_Days,RegionName_Crosby,RegionName_Houston,RegionName_Pasadena,RegionName_Porter,State_TX,Metro_Houston-The Woodlands-Sugar Land,CountyName_Harris County,CountyName_Montgomery County
203,2011-09-30,2,4,159500.0,114.0,0,1,0,0,1,1,1,0
204,2011-09-30,2,5,292501.0,114.0,0,1,0,0,1,1,1,0
205,2011-09-30,223,1,49495.0,98.5,0,0,1,0,1,1,1,0
206,2011-09-30,223,2,63834.0,98.5,0,0,1,0,1,1,1,0
207,2011-09-30,223,3,96411.0,98.5,0,0,1,0,1,1,1,0

In [27]:
#importing function
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
def factorize(data, var, fill_na = None):
      if fill_na is not None:
            data[var].fillna(fill_na, inplace=True)
      le.fit(data[var])
      data[var] = le.transform(data[var])
      return data

Now that the data is encoded, the training and testing sets will be created.

In [28]:
# Creating training, validation, and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_pad, y, random_state=78)

NameError: name 'X_pad' is not defined

In [ ]:
# Import Keras modules for data encoding
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [10]:
# Import Keras modules for model creation
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, LSTM, Dense

 ### Making Predictions