In [92]:
#Initial imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from pathlib import Path

%matplotlib inline

In [93]:
#Import Data
#mortgage = pd.read_csv('../data/raw_data/30yr_fixed_mortgage_rate.csv')
sales = pd.read_csv(Path("../data/raw_data/house_sales_by_month.csv"),
index_col="Date", parse_dates=True, infer_datetime_format=True)  
fixed_rate = pd.read_csv(Path("../data/raw_data/30yr_fixed_mortgage_rate.csv"), encoding='latin1',   index_col="Date", parse_dates=True, infer_datetime_format=True)

In [94]:
sales= sales.drop(columns=(["Dollar", "Median", "Total"]))
#sales

In [95]:
#sales

In [96]:
#sales=sales["Sales"].str.replace(",","")
#sales

In [97]:
fixed_rate =fixed_rate.astype(float)
sales =sales.astype(int)

In [98]:
sales.dtypes

Sales      int32
Average    int32
Months     int32
dtype: object

In [99]:
fixed_rate.dtypes

rate    float64
dtype: object

In [116]:
# merge dataframes on Date
df =pd.merge (sales, fixed_rate, on='Date', how='outer')
df.head()

              Sales   Average  Months  rate
Date
2010-01-01  10797.0  176298.0     6.0  5.03
2010-02-01  13781.0  179474.0     7.0  4.99
2010-03-01  20465.0  183981.0     7.0  4.97
2010-04-01  22893.0  184048.0     7.0  5.10
2010-05-01  23812.0  188041.0     7.0  4.89

In [117]:
df= df.dropna()
df

              Sales   Average  Months  rate
Date
2010-01-01  10797.0  176298.0     6.0  5.03
2010-02-01  13781.0  179474.0     7.0  4.99
2010-03-01  20465.0  183981.0     7.0  4.97
2010-04-01  22893.0  184048.0     7.0  5.10
2010-05-01  23812.0  188041.0     7.0  4.89
2010-06-01  22864.0  201367.0     7.0  4.74
2010-07-01  17336.0  204912.0     8.0  4.56
2010-08-01  17831.0  197616.0     8.0  4.43
2010-09-01  16050.0  189384.0     8.0  4.35
2010-10-01  14990.0  187695.0     8.0  4.23
2010-11-01  14398.0  192416.0     7.0  4.30
2010-12-01  16423.0  200295.0     7.0  4.71
2011-01-01  11469.0  180918.0     7.0  4.76
2011-02-01  12790.0  188328.0     7.0  4.95
2011-03-01  18508.0  189835.0     8.0  4.84
2011-04-01  18978.0  189863.0     8.0  4.84
2011-05-01  20491.0  197741.0     8.0  4.64
2011-06-01  22851.0  202571.0     8.0  4.51
2011-07-01  20399.0  198664.0     8.0  4.55
2011-08-01  22125.0  196246.0     7.0  4.27
2011-09-01  18648.0  190401.0     7.0  4.11
2011-10-01  16533.0  188628.0     7.0  4.07
2011-11-01  15651.0  186582.0     6.0  3.99
2011-12-01  17265.0  194970.0     6.0  3.96
2012-01-01  12613.0  178526.0     6.0  3.92
2012-02-01  15485.0  186481.0     6.0  3.89
2012-03-01  20050.0  198812.0     6.0  3.95
2012-04-01  20778.0  203741.0     6.0  3.91
2012-05-01  24375.0  212712.0     6.0  3.80
2012-06-01  25507.0  214451.0     6.0  3.68
...             ...       ...     ...   ...
2018-06-01  35605.0  297236.0     3.0  4.57
2018-07-01  33920.0  288864.0     3.0  4.53
2018-08-01  34196.0  287179.0     3.0  4.55
2018-09-01  26809.0  279401.0     3.0  4.63
2018-10-01  27368.0  276703.0     3.0  4.83
2018-11-01  25149.0  280205.0     3.0  4.87
2018-12-01  25819.0  284619.0     3.0  4.64
2019-01-01  18107.0  264238.0     3.0  4.46
2019-02-01  22671.0  271353.0     3.0  4.37
2019-03-01  29547.0  284797.0     3.0  4.27
2019-04-01  32102.0  291993.0     3.0  4.14
2019-05-01  36712.0  302866.0     3.0  4.07
2019-06-01  34101.0  305850.0     3.0  3.80
2019-07-01  36279.0  297145.0     3.0  3.77
2019-08-01  35477.0  293648.0     3.0  3.62
2019-09-01  29220.0  288659.0     3.0  3.61
2019-10-01  29473.0  289816.0     3.0  3.69
2019-11-01  25811.0  286048.0     3.0  3.70
2019-12-01  29918.0  300790.0     3.0  3.72
2020-01-01  21039.0  277988.0     3.0  3.62
2020-02-01  24879.0  291856.0     3.0  3.47
2020-03-01  30801.0  298052.0     3.0  3.45
2020-04-01  26106.0  295209.0     3.0  3.31
2020-05-01  27438.0  293194.0     3.0  3.23
2020-06-01  38639.0  311898.0     2.0  3.16
2020-07-01  43877.0  327755.0     2.0  3.02
2020-08-01  38384.0  326014.0     2.0  2.94
2020-09-01  37114.0  325532.0     2.0  2.89
2020-10-01  36610.0  330585.0     2.0  2.83
2020-11-01  31788.0  333080.0     1.0  2.77

[131 rows x 4 columns]

In [118]:
df.columns

Index(['Sales', 'Average', 'Months', 'rate'], dtype='object')

In [119]:
# Creating the X and y sets
X = df.drop('Sales',axis=1)
y = df["Sales"].values

In [103]:
X.reshape(-1,1)

AttributeError: 'DataFrame' object has no attribute 'reshape'

In [110]:
#X=X.reshape(-1,1)
#predicted

In [120]:
# Creating training, validation, and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, train_size= 0.8, random_state=0)

In [104]:
#X_train

In [67]:
#X_train[0]

In [121]:
#X_train=X_train.reshape(-1,1)

In [122]:
# Import the StandardScaler from sklearn
from sklearn.preprocessing import StandardScaler

# Scale the data
scaler_train = StandardScaler().fit(X_train)
X_train_scaled = scaler_train.transform(X_train)
scaler_test = StandardScaler().fit(X_test)
X_test_scaled = scaler_test.transform(X_test)

In [73]:
#X_train[0]

In [79]:
#X_test=X_test.reshape(-1,1)

In [75]:
# Import the StandardScaler from sklearn
#from sklearn.preprocessing import StandardScaler
#from sklearn.preprocessing import MinMaxScaler

# Scale the data
#scaler = MinMaxScaler().fit(X_train)
#X_scaled_train = scaler.transform(X_train)
#X_scaled_test = scaler.transform(X_test)

In [123]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [124]:
# Model set-up
number_input_features = 3
hidden_nodes_layer1 = 40

hidden_nodes_layer2 = 20

In [125]:
# Define the model
model = Sequential()

# Layer 1
model.add(
   Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Layer 2
model.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
model.add(Dense(1, activation="linear"))

In [126]:
(X_train.shape[1], 1)

(3, 1)

In [82]:
# model = Sequential()
# number_units = 5
# dropout_fraction = 0.2
# # Layer 1
# model.add(LSTM(
#     units=number_units,
#     return_sequences=True,
#     input_shape=(X_train.shape[1], 1))
#     )
# model.add(Dropout(dropout_fraction))
# # Layer 2
# model.add(LSTM(units=number_units, return_sequences=True))
# model.add(Dropout(dropout_fraction))
# # Layer 3
# model.add(LSTM(units=number_units))
# model.add(Dropout(dropout_fraction))
# # Output layer
# model.add(Dense(1))

In [127]:
# Compile the model
model.compile(
    loss= "mean_squared_error",
    optimizer="adam",
    metrics= ['accuracy']
   
)

In [128]:
# Summarize the model
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 40)                160
_________________________________________________________________
dense_7 (Dense)              (None, 20)                820
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 21
=================================================================
Total params: 1,001
Trainable params: 1,001
Non-trainable params: 0
_________________________________________________________________

In [129]:
# Training the model
batch_size = 10
epochs = 1000
training_history = model.fit(
    X_scaled_train,
    y_train,
    epochs=epochs,
    batch_size=batch_size,
    verbose=1,
)

ValueError: Data cardinality is ambiguous:
  x sizes: 105
  y sizes: 104
Make sure all arrays contain the same number of samples.

In [130]:
# Evaluate the model
model.evaluate(X_scaled_test, y_test, verbose=1)

1/1 [==============================] - 0s 214ms/step - loss: 578398336.0000 - accuracy: 0.0000e+00

[578398336.0, 0.0]

In [108]:
#X_scaled_test

In [131]:
# Make predictions using the testing data X_test
predicted = model.predict(X_scaled_test)
#predicted

In [132]:
# Create a DataFrame of Real and Predicted values
df_model = pd.DataFrame({
    "Actual": y_test.ravel(),
    "Predicted": predicted.ravel()
}, index = df.index[-len(y_test): ]) 

# Show the DataFrame's head
df_model.head()

             Actual  Predicted
Date
2018-09-01  16050.0   0.093415
2018-10-01  18777.0   0.108563
2018-11-01  31518.0   0.156993
2018-12-01  25149.0   0.215989
2019-01-01  25771.0   0.119767

In [133]:
sales_pred_20= df_model[:20]
salese__pred_20

NameError: name 'salese__pred_20' is not defined

In [ ]:
# Plot the real vs predicted prices as a line chart