In [36]:
#Initial imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from pathlib import Path

%matplotlib inline

In [38]:
#Import Data
#mortgage = pd.read_csv('../data/raw_data/30yr_fixed_mortgage_rate.csv')
sales = pd.read_csv(Path("../data/raw_data/house_sales_by_month.csv"),
index_col="Date", parse_dates=True, infer_datetime_format=True)  
fixed_rate = pd.read_csv(Path("../data/raw_data/30yr_fixed_mortgage_rate.csv"), encoding='latin1',   index_col="Date", parse_dates=True, infer_datetime_format=True)

In [39]:
sales= sales.drop(columns=(["Dollar","Average", "Median", "Total", "Months"]))

In [43]:
sales.dtypes

Sales    object
dtype: object

In [44]:
fixed_rate.dtypes

rate    object
dtype: object

In [49]:
# merge dataframes on Date
df =pd.merge (sales, fixed_rate, on='Date', how='outer')
df

             Sales  rate
Date
2010-01-01  10,797  5.03
2010-02-01  13,781  4.99
2010-03-01  20,465  4.97
2010-04-01  22,893   5.1
2010-05-01  23,812  4.89
2010-06-01  22,864  4.74
2010-07-01  17,336  4.56
2010-08-01  17,831  4.43
2010-09-01  16,050  4.35
2010-10-01  14,990  4.23
2010-11-01  14,398   4.3
2010-12-01  16,423  4.71
2011-01-01  11,469  4.76
2011-02-01  12,790  4.95
2011-03-01  18,508  4.84
2011-04-01  18,978  4.84
2011-05-01  20,491  4.64
2011-06-01  22,851  4.51
2011-07-01  20,399  4.55
2011-08-01  22,125  4.27
2011-09-01  18,648  4.11
2011-10-01  16,533  4.07
2011-11-01  15,651  3.99
2011-12-01  17,265  3.96
2012-01-01  12,613  3.92
2012-02-01  15,485  3.89
2012-03-01  20,050  3.95
2012-04-01  20,778  3.91
2012-05-01  24,375   3.8
2012-06-01  25,507  3.68
...            ...   ...
2018-07-01  33,920  4.53
2018-08-01  34,196  4.55
2018-09-01  26,809  4.63
2018-10-01  27,368  4.83
2018-11-01  25,149  4.87
2018-12-01  25,819  4.64
2019-01-01  18,107  4.46
2019-02-01  22,671  4.37
2019-03-01  29,547  4.27
2019-04-01  32,102  4.14
2019-05-01  36,712  4.07
2019-06-01  34,101   3.8
2019-07-01  36,279  3.77
2019-08-01  35,477  3.62
2019-09-01  29,220  3.61
2019-10-01  29,473  3.69
2019-11-01  25,811   3.7
2019-12-01  29,918  3.72
2020-01-01  21,039  3.62
2020-02-01  24,879  3.47
2020-03-01  30,801  3.45
2020-04-01  26,106  3.31
2020-05-01  27,438  3.23
2020-06-01  38,639  3.16
2020-07-01  43,877  3.02
2020-08-01  38,384  2.94
2020-09-01  37,114  2.89
2020-10-01  36,610  2.83
2020-11-01  31,788  2.77
2020-12-01     NaN  2.68

[132 rows x 2 columns]