In [2]:
# Initial imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from pathlib import Path

%matplotlib inline

In [4]:
# Load Data 
housing_df = pd.read_csv(Path("../data/housing_data_encoded.csv"))
housing_df

,Identifier,Bedroom,Price,Average_Market_Days,RegionName_Crosby,RegionName_Houston,RegionName_Pasadena,RegionName_Porter,State_TX,Metro_Houston-The Woodlands-Sugar Land,CountyName_Harris County,CountyName_Montgomery County
0,2,1,67653.0,133.0,0,1,0,0,1,1,1,0
1,2,2,89995.0,133.0,0,1,0,0,1,1,1,0
2,2,3,116641.0,133.0,0,1,0,0,1,1,1,0
3,2,4,167849.0,133.0,0,1,0,0,1,1,1,0
4,2,5,303323.0,133.0,0,1,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1215,223,1,79380.0,100.0,0,0,1,0,1,1,1,0
1216,223,2,121517.0,100.0,0,0,1,0,1,1,1,0
1217,223,3,159204.0,100.0,0,0,1,0,1,1,1,0
1218,1811,2,157660.0,108.0,0,0,0,1,1,1,0,1
1219,2134,2,125585.0,156.0,1,0,0,0,1,1,1,0

In [5]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1220 entries, 0 to 1219
Data columns (total 12 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Identifier                              1220 non-null   int64
 1   Bedroom                                 1220 non-null   int64
 2   Price                                   1151 non-null   float64
 3   Average_Market_Days                     1030 non-null   float64
 4   RegionName_Crosby                       1220 non-null   int64
 5   RegionName_Houston                      1220 non-null   int64
 6   RegionName_Pasadena                     1220 non-null   int64
 7   RegionName_Porter                       1220 non-null   int64
 8   State_TX                                1220 non-null   int64
 9   Metro_Houston-The Woodlands-Sugar Land  1220 non-null   int64
 10  CountyName_Harris County                1220 non-null   int64
 11  CountyName_Montgomery County            1220 non-null   int64
dtypes: float64(2), int64(10)
memory usage: 114.5 KB

In [6]:
housing_df= housing_df.dropna()

In [ ]:
# Calculate & display 20 day SMA
df['SMA'] = df['Last'].rolling(50).mean()
df[['Last', 'SMA']].plot(title='BTC-USD Daily Price & 50 Day SMA: 2016-Present',figsize=(10,6))

In [7]:
# Creating the X and y sets
X = housing_df.drop(columns=["Price"]).values
y = housing_df["Price"].values

In [8]:
# Creating training, validation, and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

X_train, X_val, y_train, y_val = train_test_split(X_test, y_test, random_state=0)

In [7]:
# Import the StandardScaler from sklearn
from sklearn.preprocessing import StandardScaler

# Scale the data
scaler = StandardScaler().fit(X_train)
X = scaler.transform(X_train)

In [8]:
# Build and train the Deep Learning Model

# Import Keras modules for model creation
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [9]:
# Model set-up
number_input_features = 11
hidden_nodes_layer1 = 15
hidden_nodes_layer2 = 10

In [10]:
# Define the LSTM RNN model
model = Sequential()

# Layer 1
model.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Layer 2
model.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
model.add(Dense(1, activation="linear"))

In [11]:
# Compile the model
model.compile(
    loss="mse",
    optimizer="adam",
   
)

In [12]:
# Summarize the model
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 15)                180
_________________________________________________________________
dense_1 (Dense)              (None, 10)                160
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 351
Trainable params: 351
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Training the model
batch_size = 2000
epochs = 50
training_history = model.fit(
    X_train,
    y_train,
    validation_data=(X_val, y_val),
    epochs=epochs,
    batch_size=batch_size,
    verbose=1,
)

Epoch 1/50
1/1 [==============================] - 2s 2s/step - loss: 27987759104.0000 - val_loss: 28508108800.0000
Epoch 2/50
1/1 [==============================] - 0s 87ms/step - loss: 27987597312.0000 - val_loss: 28507940864.0000
Epoch 3/50
1/1 [==============================] - 0s 76ms/step - loss: 27987433472.0000 - val_loss: 28507770880.0000
Epoch 4/50
1/1 [==============================] - 0s 104ms/step - loss: 27987267584.0000 - val_loss: 28507600896.0000
Epoch 5/50
1/1 [==============================] - 0s 82ms/step - loss: 27987095552.0000 - val_loss: 28507420672.0000
Epoch 6/50
1/1 [==============================] - 0s 77ms/step - loss: 27986917376.0000 - val_loss: 28507242496.0000
Epoch 7/50
1/1 [==============================] - 0s 80ms/step - loss: 27986737152.0000 - val_loss: 28507056128.0000
Epoch 8/50
1/1 [==============================] - 0s 79ms/step - loss: 27986556928.0000 - val_loss: 28506871808.0000
Epoch 9/50
1/1 [==============================] - 0s 79ms/step - loss: 27986374656.0000 - val_loss: 28506689536.0000
Epoch 10/50
1/1 [==============================] - 0s 77ms/step - loss: 27986188288.0000 - val_loss: 28506503168.0000
Epoch 11/50
1/1 [==============================] - 0s 78ms/step - loss: 27986008064.0000 - val_loss: 28506320896.0000
Epoch 12/50
1/1 [==============================] - 0s 102ms/step - loss: 27985821696.0000 - val_loss: 28506132480.0000
Epoch 13/50
1/1 [==============================] - 0s 68ms/step - loss: 27985637376.0000 - val_loss: 28505948160.0000
Epoch 14/50
1/1 [==============================] - 0s 88ms/step - loss: 27985453056.0000 - val_loss: 28505761792.0000
Epoch 15/50
1/1 [==============================] - 0s 89ms/step - loss: 27985262592.0000 - val_loss: 28505571328.0000
Epoch 16/50
1/1 [==============================] - 0s 84ms/step - loss: 27985078272.0000 - val_loss: 28505384960.0000
Epoch 17/50
1/1 [==============================] - 0s 101ms/step - loss: 27984887808.0000 - val_loss: 28505196544.0000
Epoch 18/50
1/1 [==============================] - 0s 84ms/step - loss: 27984703488.0000 - val_loss: 28505004032.0000
Epoch 19/50
1/1 [==============================] - 0s 77ms/step - loss: 27984515072.0000 - val_loss: 28504813568.0000
Epoch 20/50
1/1 [==============================] - 0s 87ms/step - loss: 27984328704.0000 - val_loss: 28504623104.0000
Epoch 21/50
1/1 [==============================] - 0s 79ms/step - loss: 27984140288.0000 - val_loss: 28504432640.0000
Epoch 22/50
1/1 [==============================] - 0s 82ms/step - loss: 27983949824.0000 - val_loss: 28504242176.0000
Epoch 23/50
1/1 [==============================] - 0s 69ms/step - loss: 27983761408.0000 - val_loss: 28504053760.0000
Epoch 24/50
1/1 [==============================] - 0s 78ms/step - loss: 27983572992.0000 - val_loss: 28503859200.0000
Epoch 25/50
1/1 [==============================] - 0s 87ms/step - loss: 27983382528.0000 - val_loss: 28503666688.0000
Epoch 26/50
1/1 [==============================] - 0s 79ms/step - loss: 27983192064.0000 - val_loss: 28503470080.0000
Epoch 27/50
1/1 [==============================] - 0s 80ms/step - loss: 27982999552.0000 - val_loss: 28503273472.0000
Epoch 28/50
1/1 [==============================] - 0s 99ms/step - loss: 27982809088.0000 - val_loss: 28503074816.0000
Epoch 29/50
1/1 [==============================] - 0s 84ms/step - loss: 27982616576.0000 - val_loss: 28502874112.0000
Epoch 30/50
1/1 [==============================] - 0s 80ms/step - loss: 27982422016.0000 - val_loss: 28502677504.0000
Epoch 31/50
1/1 [==============================] - 0s 87ms/step - loss: 27982223360.0000 - val_loss: 28502476800.0000
Epoch 32/50
1/1 [==============================] - 0s 84ms/step - loss: 27982030848.0000 - val_loss: 28502269952.0000
Epoch 33/50
1/1 [==============================] - 0s 78ms/step - loss: 27981832192.0000 - val_loss: 28502065152.0000
Epoch 34/50
1/1 [==============================] - 0s 83ms/step - loss: 27981631488.0000 - val_loss: 28501856256.0000
Epoch 35/50
1/1 [==============================] - 0s 82ms/step - loss: 27981424640.0000 - val_loss: 28501647360.0000
Epoch 36/50
1/1 [==============================] - 0s 72ms/step - loss: 27981223936.0000 - val_loss: 28501440512.0000
Epoch 37/50
1/1 [==============================] - 0s 80ms/step - loss: 27981019136.0000 - val_loss: 28501225472.0000
Epoch 38/50
1/1 [==============================] - 0s 80ms/step - loss: 27980812288.0000 - val_loss: 28501012480.0000
Epoch 39/50
1/1 [==============================] - 0s 90ms/step - loss: 27980603392.0000 - val_loss: 28500797440.0000
Epoch 40/50
1/1 [==============================] - 0s 85ms/step - loss: 27980394496.0000 - val_loss: 28500578304.0000
Epoch 41/50
1/1 [==============================] - 0s 94ms/step - loss: 27980179456.0000 - val_loss: 28500359168.0000
Epoch 42/50
1/1 [==============================] - 0s 83ms/step - loss: 27979968512.0000 - val_loss: 28500137984.0000
Epoch 43/50
1/1 [==============================] - 0s 82ms/step - loss: 27979747328.0000 - val_loss: 28499910656.0000
Epoch 44/50
1/1 [==============================] - 0s 76ms/step - loss: 27979530240.0000 - val_loss: 28499681280.0000
Epoch 45/50
1/1 [==============================] - 0s 78ms/step - loss: 27979311104.0000 - val_loss: 28499447808.0000
Epoch 46/50
1/1 [==============================] - 0s 78ms/step - loss: 27979083776.0000 - val_loss: 28499210240.0000
Epoch 47/50
1/1 [==============================] - 0s 81ms/step - loss: 27978852352.0000 - val_loss: 28498960384.0000
Epoch 48/50
1/1 [==============================] - 0s 79ms/step - loss: 27978606592.0000 - val_loss: 28498702336.0000
Epoch 49/50
1/1 [==============================] - 0s 84ms/step - loss: 27978354688.0000 - val_loss: 28498438144.0000
Epoch 50/50
1/1 [==============================] - 0s 82ms/step - loss: 27978096640.0000 - val_loss: 28498171904.0000