In [1]:
from pathlib import Path
import pandas as pd

In [24]:
data = Path('../Data/housing_data_encoded.csv')
df = pd.read_csv(data)
df = df.dropna()
df

,Identifier,Bedroom,Price,Average_Market_Days,RegionName_Crosby,RegionName_Houston,RegionName_Pasadena,RegionName_Porter,State_TX,Metro_Houston-The Woodlands-Sugar Land,CountyName_Harris County,CountyName_Montgomery County
0,2,1,67653.0,133.0,0,1,0,0,1,1,1,0
1,2,2,89995.0,133.0,0,1,0,0,1,1,1,0
2,2,3,116641.0,133.0,0,1,0,0,1,1,1,0
3,2,4,167849.0,133.0,0,1,0,0,1,1,1,0
4,2,5,303323.0,133.0,0,1,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1215,223,1,79380.0,100.0,0,0,1,0,1,1,1,0
1216,223,2,121517.0,100.0,0,0,1,0,1,1,1,0
1217,223,3,159204.0,100.0,0,0,1,0,1,1,1,0
1218,1811,2,157660.0,108.0,0,0,0,1,1,1,0,1
1219,2134,2,125585.0,156.0,1,0,0,0,1,1,1,0

In [27]:
x_cols = [i for i in df.columns if i not in ("Price")]
X = df[x_cols]
y = df["Price"]
#Note to self: consider binning by quartiles to improve predictive accuracy
y.describe()

count      1030.000000
mean     141622.711650
std       89828.559558
min       48503.000000
25%       82245.250000
50%      112227.500000
75%      159703.500000
max      401709.000000
Name: Price, dtype: float64

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)
classifier

In [ ]:
classifier.fit(X_train, y_train)

In [ ]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

In [ ]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test})