In [175]:
import random
from random import choices
import pandas as pd
import numpy as np
from pathlib import Path

In [143]:
# Load data
housing_data = pd.read_csv("Housing_values.csv")
housing_df = pd.DataFrame(housing_data)
housing_df

,Identifier,RegionID,Bedroom,RegionName,RegionType,StateName,State,Metro,CountyName,1/31/2010,...,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020
0,2,39051,1,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,67653.0,...,104937,105155,105502,105618,106083,106186,106299,106161,106271,106635
1,110,7204,1,Spring,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,54159.0,...,88793,89402,90151,90444,91064,91668,92500,93108,93931,94948
2,187,41114,1,Sugar Land,City,TX,TX,Houston-The Woodlands-Sugar Land,Fort Bend County,212721.0,...,239912,239079,239124,239166,240193,242007,241984,241888,242018,241986
3,209,38119,1,Cypress,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,83279.0,...,134336,135568,135976,136333,137155,137673,138310,137995,137454,136950
4,218,44734,1,Conroe,City,TX,TX,Houston-The Woodlands-Sugar Land,Montgomery County,142717.0,...,220807,221831,222446,223048,224432,224717,224159,222976,222007,220157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,18435,23174,5,Morgans Point,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,378619.0,...,702473,704800,704480,707487,713194,721005,726920,730948,732360,732224
571,18625,16080,5,Wallis,City,TX,TX,Houston-The Woodlands-Sugar Land,Austin County,NaN,...,165336,165466,166338,166778,166780,166123,165830,166579,166822,167583
572,18722,52665,5,Jamaica Beach,City,TX,TX,Houston-The Woodlands-Sugar Land,Galveston County,550524.0,...,656209,656624,655992,656511,655356,656806,655688,655114,652268,649370
573,18726,54635,5,Surfside Beach,City,TX,TX,Houston-The Woodlands-Sugar Land,Brazoria County,298089.0,...,457049,456514,456555,458114,462450,466920,472154,476587,480253,482405
574,18750,42375,5,Fairchilds,City,TX,TX,Houston-The Woodlands-Sugar Land,Fort Bend County,NaN,...,376055,377547,379961,382507,384938,386972,389187,387800,386879,384703

In [144]:
housing_df= housing_df.drop(columns=["RegionID", "RegionType", "StateName"])
housing_df

,Identifier,Bedroom,RegionName,State,Metro,CountyName,1/31/2010,2/28/2010,3/31/2010,4/30/2010,...,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020
0,2,1,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,67653.0,67444.0,67260.0,67041.0,...,104937,105155,105502,105618,106083,106186,106299,106161,106271,106635
1,110,1,Spring,TX,Houston-The Woodlands-Sugar Land,Harris County,54159.0,53215.0,52607.0,52807.0,...,88793,89402,90151,90444,91064,91668,92500,93108,93931,94948
2,187,1,Sugar Land,TX,Houston-The Woodlands-Sugar Land,Fort Bend County,212721.0,214502.0,216879.0,218827.0,...,239912,239079,239124,239166,240193,242007,241984,241888,242018,241986
3,209,1,Cypress,TX,Houston-The Woodlands-Sugar Land,Harris County,83279.0,82383.0,82490.0,82944.0,...,134336,135568,135976,136333,137155,137673,138310,137995,137454,136950
4,218,1,Conroe,TX,Houston-The Woodlands-Sugar Land,Montgomery County,142717.0,142310.0,140592.0,139575.0,...,220807,221831,222446,223048,224432,224717,224159,222976,222007,220157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,18435,5,Morgans Point,TX,Houston-The Woodlands-Sugar Land,Harris County,378619.0,381411.0,386253.0,388340.0,...,702473,704800,704480,707487,713194,721005,726920,730948,732360,732224
571,18625,5,Wallis,TX,Houston-The Woodlands-Sugar Land,Austin County,NaN,NaN,NaN,NaN,...,165336,165466,166338,166778,166780,166123,165830,166579,166822,167583
572,18722,5,Jamaica Beach,TX,Houston-The Woodlands-Sugar Land,Galveston County,550524.0,552243.0,548603.0,538650.0,...,656209,656624,655992,656511,655356,656806,655688,655114,652268,649370
573,18726,5,Surfside Beach,TX,Houston-The Woodlands-Sugar Land,Brazoria County,298089.0,294899.0,291515.0,286260.0,...,457049,456514,456555,458114,462450,466920,472154,476587,480253,482405
574,18750,5,Fairchilds,TX,Houston-The Woodlands-Sugar Land,Fort Bend County,NaN,NaN,NaN,NaN,...,376055,377547,379961,382507,384938,386972,389187,387800,386879,384703

In [145]:
housing_df= housing_df.melt(id_vars=["Identifier", "Bedroom", "RegionName", "State", "Metro", "CountyName"], 
        var_name="Date", 
        value_name="Price")
housing_df.head()

,Identifier,Bedroom,RegionName,State,Metro,CountyName,Date,Price
0,2,1,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,1/31/2010,67653.0
1,110,1,Spring,TX,Houston-The Woodlands-Sugar Land,Harris County,1/31/2010,54159.0
2,187,1,Sugar Land,TX,Houston-The Woodlands-Sugar Land,Fort Bend County,1/31/2010,212721.0
3,209,1,Cypress,TX,Houston-The Woodlands-Sugar Land,Harris County,1/31/2010,83279.0
4,218,1,Conroe,TX,Houston-The Woodlands-Sugar Land,Montgomery County,1/31/2010,142717.0

In [146]:
housing_df.reset_index(drop=True, inplace=True)
housing_df.set_index('Date', inplace=True)
housing_df.head()

,Identifier,Bedroom,RegionName,State,Metro,CountyName,Price
Date,,,,,,,
1/31/2010,2,1,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,67653.0
1/31/2010,110,1,Spring,TX,Houston-The Woodlands-Sugar Land,Harris County,54159.0
1/31/2010,187,1,Sugar Land,TX,Houston-The Woodlands-Sugar Land,Fort Bend County,212721.0
1/31/2010,209,1,Cypress,TX,Houston-The Woodlands-Sugar Land,Harris County,83279.0
1/31/2010,218,1,Conroe,TX,Houston-The Woodlands-Sugar Land,Montgomery County,142717.0

In [147]:
# Load data
avg_market_data = pd.read_csv("Avg_day_on_mkt.csv")
avg_market_df = pd.DataFrame(avg_market_data)
avg_market_df

,Identifier,RegionID,Unnamed: 2,RegionName,RegionType,StateName,2010-01,2010-02,2010-03,2010-04,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02
0,2,39051,NaN,Houston,City,TX,133.0,137.0,134.0,112.0,...,71.0,70.0,67.0,71.0,81.0,86.0,92.0,94.0,104.0,99.0
1,4,6915,NaN,San Antonio,City,TX,101.0,110.0,121.0,110.0,...,61.0,61.0,60.0,62.0,70.0,76.0,79.0,84.0,92.0,91.0
2,9,38128,NaN,Dallas,City,TX,136.0,136.0,132.0,118.0,...,65.0,65.0,68.0,71.0,76.0,84.0,75.0,91.5,96.0,97.0
3,10,10221,NaN,Austin,City,TX,111.0,111.5,108.0,86.0,...,47.0,49.0,48.0,53.0,54.0,60.0,57.0,64.0,71.0,52.0
4,15,18172,NaN,Fort Worth,City,TX,122.0,122.0,117.0,109.0,...,55.0,54.0,53.0,54.0,65.0,66.0,71.0,71.0,76.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,2512,28168,NaN,Celina,City,TX,NaN,NaN,NaN,NaN,...,151.0,98.0,139.0,120.5,142.0,176.0,164.0,165.5,111.0,119.5
132,2601,29386,NaN,Woodway,City,TX,NaN,NaN,NaN,NaN,...,59.0,50.0,65.0,75.0,93.0,59.0,54.0,73.5,93.5,91.5
133,2618,24253,NaN,Crandall,City,TX,NaN,NaN,NaN,NaN,...,54.0,76.0,75.0,67.0,92.0,84.0,103.0,121.0,118.0,157.0
134,2636,35401,NaN,Fulshear,City,TX,NaN,NaN,NaN,NaN,...,183.0,143.5,110.0,132.0,132.0,133.0,154.0,124.0,150.5,166.0
135,2676,12103,NaN,Jarrell,City,TX,NaN,NaN,NaN,NaN,...,62.0,79.5,72.0,83.5,83.0,98.0,64.5,80.0,80.0,98.0

In [148]:
avg_market_df.drop(columns=['RegionID', 'Unnamed: 2', 'RegionName', 'RegionType', 'StateName'], inplace=True)
avg_market_df

,Identifier,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02
0,2,133.0,137.0,134.0,112.0,92.5,98.0,97.0,99.0,106.0,...,71.0,70.0,67.0,71.0,81.0,86.0,92.0,94.0,104.0,99.0
1,4,101.0,110.0,121.0,110.0,104.0,104.0,99.0,99.0,104.0,...,61.0,61.0,60.0,62.0,70.0,76.0,79.0,84.0,92.0,91.0
2,9,136.0,136.0,132.0,118.0,104.0,102.0,104.5,102.0,104.0,...,65.0,65.0,68.0,71.0,76.0,84.0,75.0,91.5,96.0,97.0
3,10,111.0,111.5,108.0,86.0,81.0,91.0,88.0,99.0,98.0,...,47.0,49.0,48.0,53.0,54.0,60.0,57.0,64.0,71.0,52.0
4,15,122.0,122.0,117.0,109.0,107.0,95.0,103.0,97.0,102.0,...,55.0,54.0,53.0,54.0,65.0,66.0,71.0,71.0,76.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,2512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,151.0,98.0,139.0,120.5,142.0,176.0,164.0,165.5,111.0,119.5
132,2601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.0,50.0,65.0,75.0,93.0,59.0,54.0,73.5,93.5,91.5
133,2618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.0,76.0,75.0,67.0,92.0,84.0,103.0,121.0,118.0,157.0
134,2636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,183.0,143.5,110.0,132.0,132.0,133.0,154.0,124.0,150.5,166.0
135,2676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.0,79.5,72.0,83.5,83.0,98.0,64.5,80.0,80.0,98.0

In [151]:
avg_market_df= avg_market_df.melt(id_vars=["Identifier"], 
        var_name="Date", 
        value_name="Average_Market_Days")
avg_market_df.head()

   Identifier     Date  Average_Market_Days
0           2  2010-01                133.0
1           4  2010-01                101.0
2           9  2010-01                136.0
3          10  2010-01                111.0
4          15  2010-01                122.0

In [152]:
avg_market_df.reset_index(drop=True, inplace=True)
avg_market_df.set_index('Date', inplace=True)

In [153]:
avg_market_df

         Identifier  Average_Market_Days
Date
2010-01           2                133.0
2010-01           4                101.0
2010-01           9                136.0
2010-01          10                111.0
2010-01          15                122.0
...             ...                  ...
2020-02        2512                119.5
2020-02        2601                 91.5
2020-02        2618                157.0
2020-02        2636                166.0
2020-02        2676                 98.0

[16592 rows x 2 columns]

In [162]:
housing_data_df = housing_df.merge(avg_market_df, right_on=['Date', 'Identifier'], left_on=['Date', 'Identifier'], )
housing_data_df

Empty DataFrame
Columns: [Identifier, Bedroom, RegionName, State, Metro, CountyName, Price, Average_Market_Days]
Index: []

In [165]:
housing_df.index.dtype

dtype('O')

In [164]:
avg_market_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16592 entries, 2010-01 to 2020-02
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Identifier           16592 non-null  int64
 1   Average_Market_Days  9046 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 1.0+ MB

In [167]:
housing_df.index = pd.to_datetime(housing_df.index)
housing_df

,Identifier,Bedroom,RegionName,State,Metro,CountyName,Price
Date,,,,,,,
2010-01-31,2,1,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,67653.0
2010-01-31,110,1,Spring,TX,Houston-The Woodlands-Sugar Land,Harris County,54159.0
2010-01-31,187,1,Sugar Land,TX,Houston-The Woodlands-Sugar Land,Fort Bend County,212721.0
2010-01-31,209,1,Cypress,TX,Houston-The Woodlands-Sugar Land,Harris County,83279.0
2010-01-31,218,1,Conroe,TX,Houston-The Woodlands-Sugar Land,Montgomery County,142717.0
...,...,...,...,...,...,...,...
2020-03-31,18435,5,Morgans Point,TX,Houston-The Woodlands-Sugar Land,Harris County,732224.0
2020-03-31,18625,5,Wallis,TX,Houston-The Woodlands-Sugar Land,Austin County,167583.0
2020-03-31,18722,5,Jamaica Beach,TX,Houston-The Woodlands-Sugar Land,Galveston County,649370.0
2020-03-31,18726,5,Surfside Beach,TX,Houston-The Woodlands-Sugar Land,Brazoria County,482405.0
2020-03-31,18750,5,Fairchilds,TX,Houston-The Woodlands-Sugar Land,Fort Bend County,384703.0

In [170]:
avg_market_df.index = pd.to_datetime(avg_market_df.index)
avg_market_df.index = avg_market_df.index + pd.offsets.MonthEnd(0) 
avg_market_df

            Identifier  Average_Market_Days
Date
2010-01-31           2                133.0
2010-01-31           4                101.0
2010-01-31           9                136.0
2010-01-31          10                111.0
2010-01-31          15                122.0
...                ...                  ...
2020-02-29        2512                119.5
2020-02-29        2601                 91.5
2020-02-29        2618                157.0
2020-02-29        2636                166.0
2020-02-29        2676                 98.0

[16592 rows x 2 columns]

In [171]:
housing_data_df = housing_df.merge(avg_market_df, right_on=['Date', 'Identifier'], left_on=['Date', 'Identifier'], )
housing_data_df

,Identifier,Bedroom,RegionName,State,Metro,CountyName,Price,Average_Market_Days
Date,,,,,,,,
2010-01-31,2,1,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,67653.0,133.0
2010-01-31,2,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,89995.0,133.0
2010-01-31,2,3,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,116641.0,133.0
2010-01-31,2,4,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,167849.0,133.0
2010-01-31,2,5,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,303323.0,133.0
...,...,...,...,...,...,...,...,...
2020-02-29,223,1,Pasadena,TX,Houston-The Woodlands-Sugar Land,Harris County,79380.0,100.0
2020-02-29,223,2,Pasadena,TX,Houston-The Woodlands-Sugar Land,Harris County,121517.0,100.0
2020-02-29,223,3,Pasadena,TX,Houston-The Woodlands-Sugar Land,Harris County,159204.0,100.0
2020-02-29,1811,2,Porter,TX,Houston-The Woodlands-Sugar Land,Montgomery County,157660.0,108.0
2020-02-29,2134,2,Crosby,TX,Houston-The Woodlands-Sugar Land,Harris County,125585.0,156.0

In [172]:
housing_data_df = pd.get_dummies(housing_data_df, columns=['RegionName', 'State', 'Metro', 'CountyName'])
housing_data_df

,Identifier,Bedroom,Price,Average_Market_Days,RegionName_Crosby,RegionName_Houston,RegionName_Pasadena,RegionName_Porter,State_TX,Metro_Houston-The Woodlands-Sugar Land,CountyName_Harris County,CountyName_Montgomery County
Date,,,,,,,,,,,,
2010-01-31,2,1,67653.0,133.0,0,1,0,0,1,1,1,0
2010-01-31,2,2,89995.0,133.0,0,1,0,0,1,1,1,0
2010-01-31,2,3,116641.0,133.0,0,1,0,0,1,1,1,0
2010-01-31,2,4,167849.0,133.0,0,1,0,0,1,1,1,0
2010-01-31,2,5,303323.0,133.0,0,1,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-29,223,1,79380.0,100.0,0,0,1,0,1,1,1,0
2020-02-29,223,2,121517.0,100.0,0,0,1,0,1,1,1,0
2020-02-29,223,3,159204.0,100.0,0,0,1,0,1,1,1,0
2020-02-29,1811,2,157660.0,108.0,0,0,0,1,1,1,0,1
2020-02-29,2134,2,125585.0,156.0,1,0,0,0,1,1,1,0

In [176]:
# Saving the encoded dataset
file_path = Path("../data/housing_data_encoded.csv")
housing_data_df.to_csv(file_path, index=False)