In [90]:
import random
from random import choices
import pandas as pd
import numpy as np
from pathlib import Path

In [91]:
# Load data
housing_data = pd.read_csv("raw_data/rental_prices_bybedrooms_and_city.csv")
housing_df = pd.DataFrame(housing_data)
housing_df = housing_df.rename(columns={'Unnamed: 0':"Region_ID",'Bedroom':'Bedrooms'})
housing_df

,Region_ID,RegionName,State,Metro,CountyName,Bedrooms,2010-02,2010-03,2010-04,2010-05,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,1,NaN,NaN,NaN,NaN,...,1265.0,1270.0,1269.0,1286.0,1275.0,1275.0,1270.0,1264.0,1245.0,1249.0
1,4,San Antonio,TX,San Antonio-New Braunfels,Bexar County,1,NaN,NaN,NaN,NaN,...,985.0,981.0,985.0,999.0,1000.0,1000.0,991.0,985.0,974.5,967.5
2,9,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,1,NaN,NaN,NaN,NaN,...,1376.0,1375.0,1375.0,1360.0,1355.0,1330.0,1335.0,1340.0,1330.0,1340.0
3,10,Austin,TX,Austin-Round Rock,Travis County,1,NaN,NaN,NaN,NaN,...,1278.0,1319.0,1350.0,1350.0,1349.0,1350.0,1350.0,1345.0,1345.0,1340.0
4,16,Fort Worth,TX,Dallas-Fort Worth-Arlington,Tarrant County,1,NaN,NaN,NaN,NaN,...,1345.0,1350.0,1344.0,1300.0,1293.0,1280.0,1266.0,1250.0,1250.0,1260.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,6,Austin,TX,Austin-Round Rock,Travis County,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,10,Fort Worth,TX,Dallas-Fort Worth-Arlington,Tarrant County,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,25,Plano,TX,Dallas-Fort Worth-Arlington,Collin County,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,32,Sugar Land,TX,Houston-The Woodlands-Sugar Land,Fort Bend County,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,34,Frisco,TX,Dallas-Fort Worth-Arlington,Collin County,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
housing_df= housing_df.drop(columns=["RegionName", "State", "Metro", "CountyName"])
housing_df

,Region_ID,Bedrooms,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1265.0,1270.0,1269.0,1286.0,1275.0,1275.0,1270.0,1264.0,1245.0,1249.0
1,4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,985.0,981.0,985.0,999.0,1000.0,1000.0,991.0,985.0,974.5,967.5
2,9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1376.0,1375.0,1375.0,1360.0,1355.0,1330.0,1335.0,1340.0,1330.0,1340.0
3,10,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1278.0,1319.0,1350.0,1350.0,1349.0,1350.0,1350.0,1345.0,1345.0,1340.0
4,16,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1345.0,1350.0,1344.0,1300.0,1293.0,1280.0,1266.0,1250.0,1250.0,1260.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,6,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,10,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,25,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,32,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,34,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
housing_df= housing_df.melt(id_vars=["Region_ID", "Bedrooms"], 
        var_name="Date", 
        value_name="Median_Rent")
housing_df.dropna(inplace=True)
housing_df

       Region_ID  Bedrooms     Date  Median_Rent
387           10         3  2010-03       1300.0
642           10         3  2010-04       1297.5
897           10         3  2010-05       1500.0
1152          10         3  2010-06       1500.0
1407          10         3  2010-07       1310.0
...          ...       ...      ...          ...
30333        288         4  2019-12       1950.0
30334        292         4  2019-12       1912.5
30335        294         4  2019-12       1800.0
30336        298         4  2019-12       1547.5
30337        309         4  2019-12       2275.0

[14083 rows x 4 columns]

In [96]:
housing_df.reset_index(drop=True, inplace=True)
arrays = [housing_df["Region_ID"],
            housing_df["Bedrooms"],
            housing_df["Date"]]
index = pd.MultiIndex.from_arrays(arrays,names =["Region_ID","Bedrooms","Date"])
housing_df = housing_df.set_index(index)
housing_df.drop(columns=["Region_ID","Bedrooms","Date"],inplace=True)

In [97]:
housing_df

                            Median_Rent
Region_ID Bedrooms Date
10        3        2010-03       1300.0
                   2010-04       1297.5
                   2010-05       1500.0
                   2010-06       1500.0
                   2010-07       1310.0
...                                 ...
288       4        2019-12       1950.0
292       4        2019-12       1912.5
294       4        2019-12       1800.0
298       4        2019-12       1547.5
309       4        2019-12       2275.0

[14083 rows x 1 columns]

In [99]:
housing_df.to_csv('../Data/median_rents_multi_indexed.csv')