In [6]:
import random
from random import choices
import pandas as pd
import numpy as np
from pathlib import Path

In [7]:
# Load data
housing_data = pd.read_csv(Path("../raw_data/Housing_values_TX.csv"))
housing_df = pd.DataFrame(housing_data)
housing_df

,Identifier,RegionID,Bedroom,RegionName,RegionType,StateName,State,Metro,CountyName,1/31/2010,...,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020
0,2,39051,1,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,67653.0,...,104937,105155,105502,105618,106083,106186,106299,106161,106271,106635
1,4,6915,1,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,61988.0,...,90717,91135,91256,91958,92577,93383,93500,93963,94115,94557
2,9,38128,1,Dallas,City,TX,TX,Dallas-Fort Worth-Arlington,Dallas County,70689.0,...,127201,128243,129296,131491,133499,135324,135456,135102,134699,135080
3,10,10221,1,Austin,City,TX,TX,Austin-Round Rock,Travis County,160583.0,...,264684,265207,265589,266687,267187,268417,268891,269627,269656,270911
4,16,18172,1,Fort Worth,City,TX,TX,Dallas-Fort Worth-Arlington,Tarrant County,104317.0,...,168865,169324,170025,170136,169141,167850,167262,167579,168277,169143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,18708,13442,5,Ransom Canyon,City,TX,TX,Lubbock,Lubbock County,270059.0,...,385333,387468,387514,389938,391649,397571,404642,411867,416187,420871
3900,18722,52665,5,Jamaica Beach,City,TX,TX,Houston-The Woodlands-Sugar Land,Galveston County,550524.0,...,656209,656624,655992,656511,655356,656806,655688,655114,652268,649370
3901,18723,32151,5,Ingleside on the Bay,City,TX,TX,Corpus Christi,San Patricio County,150668.0,...,257179,258419,259467,259902,260406,261622,263336,264974,266138,268114
3902,18726,54635,5,Surfside Beach,City,TX,TX,Houston-The Woodlands-Sugar Land,Brazoria County,298089.0,...,457049,456514,456555,458114,462450,466920,472154,476587,480253,482405
3903,18750,42375,5,Fairchilds,City,TX,TX,Houston-The Woodlands-Sugar Land,Fort Bend County,NaN,...,376055,377547,379961,382507,384938,386972,389187,387800,386879,384703

In [8]:
housing_df= housing_df.drop(columns=["RegionID", "RegionType", "StateName"])
housing_df

,Identifier,Bedroom,RegionName,State,Metro,CountyName,1/31/2010,2/28/2010,3/31/2010,4/30/2010,...,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020
0,2,1,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,67653.0,67444.0,67260.0,67041.0,...,104937,105155,105502,105618,106083,106186,106299,106161,106271,106635
1,4,1,San Antonio,TX,San Antonio-New Braunfels,Bexar County,61988.0,61888.0,61742.0,61448.0,...,90717,91135,91256,91958,92577,93383,93500,93963,94115,94557
2,9,1,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,70689.0,70262.0,69747.0,69430.0,...,127201,128243,129296,131491,133499,135324,135456,135102,134699,135080
3,10,1,Austin,TX,Austin-Round Rock,Travis County,160583.0,159888.0,159707.0,159591.0,...,264684,265207,265589,266687,267187,268417,268891,269627,269656,270911
4,16,1,Fort Worth,TX,Dallas-Fort Worth-Arlington,Tarrant County,104317.0,104317.0,103408.0,102882.0,...,168865,169324,170025,170136,169141,167850,167262,167579,168277,169143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,18708,5,Ransom Canyon,TX,Lubbock,Lubbock County,270059.0,270684.0,270342.0,269454.0,...,385333,387468,387514,389938,391649,397571,404642,411867,416187,420871
3900,18722,5,Jamaica Beach,TX,Houston-The Woodlands-Sugar Land,Galveston County,550524.0,552243.0,548603.0,538650.0,...,656209,656624,655992,656511,655356,656806,655688,655114,652268,649370
3901,18723,5,Ingleside on the Bay,TX,Corpus Christi,San Patricio County,150668.0,150004.0,150545.0,149899.0,...,257179,258419,259467,259902,260406,261622,263336,264974,266138,268114
3902,18726,5,Surfside Beach,TX,Houston-The Woodlands-Sugar Land,Brazoria County,298089.0,294899.0,291515.0,286260.0,...,457049,456514,456555,458114,462450,466920,472154,476587,480253,482405
3903,18750,5,Fairchilds,TX,Houston-The Woodlands-Sugar Land,Fort Bend County,NaN,NaN,NaN,NaN,...,376055,377547,379961,382507,384938,386972,389187,387800,386879,384703

In [9]:
housing_df= housing_df.melt(id_vars=["Identifier", "Bedroom", "RegionName", "State", "Metro", "CountyName"], 
        var_name="Date", 
        value_name="Price")
housing_df.head()

,Identifier,Bedroom,RegionName,State,Metro,CountyName,Date,Price
0,2,1,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,1/31/2010,67653.0
1,4,1,San Antonio,TX,San Antonio-New Braunfels,Bexar County,1/31/2010,61988.0
2,9,1,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,1/31/2010,70689.0
3,10,1,Austin,TX,Austin-Round Rock,Travis County,1/31/2010,160583.0
4,16,1,Fort Worth,TX,Dallas-Fort Worth-Arlington,Tarrant County,1/31/2010,104317.0

In [10]:
housing_df.reset_index(drop=True, inplace=True)
housing_df.set_index('Date', inplace=True)
housing_df.head()

,Identifier,Bedroom,RegionName,State,Metro,CountyName,Price
Date,,,,,,,
1/31/2010,2,1,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,67653.0
1/31/2010,4,1,San Antonio,TX,San Antonio-New Braunfels,Bexar County,61988.0
1/31/2010,9,1,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,70689.0
1/31/2010,10,1,Austin,TX,Austin-Round Rock,Travis County,160583.0
1/31/2010,16,1,Fort Worth,TX,Dallas-Fort Worth-Arlington,Tarrant County,104317.0

In [12]:
# Load data
avg_market_data = pd.read_csv("../raw_data/Avg_day_on_mkt.csv")
avg_market_df = pd.DataFrame(avg_market_data)
avg_market_df

,Identifier,RegionID,Unnamed: 2,RegionName,RegionType,StateName,2010-01,2010-02,2010-03,2010-04,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02
0,2,39051,NaN,Houston,City,TX,133.0,137.0,134.0,112.0,...,71.0,70.0,67.0,71.0,81.0,86.0,92.0,94.0,104.0,99.0
1,4,6915,NaN,San Antonio,City,TX,101.0,110.0,121.0,110.0,...,61.0,61.0,60.0,62.0,70.0,76.0,79.0,84.0,92.0,91.0
2,9,38128,NaN,Dallas,City,TX,136.0,136.0,132.0,118.0,...,65.0,65.0,68.0,71.0,76.0,84.0,75.0,91.5,96.0,97.0
3,10,10221,NaN,Austin,City,TX,111.0,111.5,108.0,86.0,...,47.0,49.0,48.0,53.0,54.0,60.0,57.0,64.0,71.0,52.0
4,15,18172,NaN,Fort Worth,City,TX,122.0,122.0,117.0,109.0,...,55.0,54.0,53.0,54.0,65.0,66.0,71.0,71.0,76.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,2512,28168,NaN,Celina,City,TX,NaN,NaN,NaN,NaN,...,151.0,98.0,139.0,120.5,142.0,176.0,164.0,165.5,111.0,119.5
132,2601,29386,NaN,Woodway,City,TX,NaN,NaN,NaN,NaN,...,59.0,50.0,65.0,75.0,93.0,59.0,54.0,73.5,93.5,91.5
133,2618,24253,NaN,Crandall,City,TX,NaN,NaN,NaN,NaN,...,54.0,76.0,75.0,67.0,92.0,84.0,103.0,121.0,118.0,157.0
134,2636,35401,NaN,Fulshear,City,TX,NaN,NaN,NaN,NaN,...,183.0,143.5,110.0,132.0,132.0,133.0,154.0,124.0,150.5,166.0
135,2676,12103,NaN,Jarrell,City,TX,NaN,NaN,NaN,NaN,...,62.0,79.5,72.0,83.5,83.0,98.0,64.5,80.0,80.0,98.0

In [13]:
avg_market_df.drop(columns=['RegionID', 'Unnamed: 2', 'RegionName', 'RegionType', 'StateName'], inplace=True)
avg_market_df

,Identifier,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02
0,2,133.0,137.0,134.0,112.0,92.5,98.0,97.0,99.0,106.0,...,71.0,70.0,67.0,71.0,81.0,86.0,92.0,94.0,104.0,99.0
1,4,101.0,110.0,121.0,110.0,104.0,104.0,99.0,99.0,104.0,...,61.0,61.0,60.0,62.0,70.0,76.0,79.0,84.0,92.0,91.0
2,9,136.0,136.0,132.0,118.0,104.0,102.0,104.5,102.0,104.0,...,65.0,65.0,68.0,71.0,76.0,84.0,75.0,91.5,96.0,97.0
3,10,111.0,111.5,108.0,86.0,81.0,91.0,88.0,99.0,98.0,...,47.0,49.0,48.0,53.0,54.0,60.0,57.0,64.0,71.0,52.0
4,15,122.0,122.0,117.0,109.0,107.0,95.0,103.0,97.0,102.0,...,55.0,54.0,53.0,54.0,65.0,66.0,71.0,71.0,76.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,2512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,151.0,98.0,139.0,120.5,142.0,176.0,164.0,165.5,111.0,119.5
132,2601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.0,50.0,65.0,75.0,93.0,59.0,54.0,73.5,93.5,91.5
133,2618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.0,76.0,75.0,67.0,92.0,84.0,103.0,121.0,118.0,157.0
134,2636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,183.0,143.5,110.0,132.0,132.0,133.0,154.0,124.0,150.5,166.0
135,2676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.0,79.5,72.0,83.5,83.0,98.0,64.5,80.0,80.0,98.0

In [14]:
avg_market_df= avg_market_df.melt(id_vars=["Identifier"], 
        var_name="Date", 
        value_name="Average_Market_Days")
avg_market_df.head()

   Identifier     Date  Average_Market_Days
0           2  2010-01                133.0
1           4  2010-01                101.0
2           9  2010-01                136.0
3          10  2010-01                111.0
4          15  2010-01                122.0

In [15]:
avg_market_df.reset_index(drop=True, inplace=True)
avg_market_df.set_index('Date', inplace=True)

In [16]:
avg_market_df

         Identifier  Average_Market_Days
Date
2010-01           2                133.0
2010-01           4                101.0
2010-01           9                136.0
2010-01          10                111.0
2010-01          15                122.0
...             ...                  ...
2020-02        2512                119.5
2020-02        2601                 91.5
2020-02        2618                157.0
2020-02        2636                166.0
2020-02        2676                 98.0

[16592 rows x 2 columns]

In [17]:
housing_df.index.dtype

dtype('O')

In [18]:
avg_market_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16592 entries, 2010-01 to 2020-02
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Identifier           16592 non-null  int64
 1   Average_Market_Days  9046 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 388.9+ KB

In [19]:
housing_df.index = pd.to_datetime(housing_df.index)
housing_df

,Identifier,Bedroom,RegionName,State,Metro,CountyName,Price
Date,,,,,,,
2010-01-31,2,1,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,67653.0
2010-01-31,4,1,San Antonio,TX,San Antonio-New Braunfels,Bexar County,61988.0
2010-01-31,9,1,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,70689.0
2010-01-31,10,1,Austin,TX,Austin-Round Rock,Travis County,160583.0
2010-01-31,16,1,Fort Worth,TX,Dallas-Fort Worth-Arlington,Tarrant County,104317.0
...,...,...,...,...,...,...,...
2020-03-31,18708,5,Ransom Canyon,TX,Lubbock,Lubbock County,420871.0
2020-03-31,18722,5,Jamaica Beach,TX,Houston-The Woodlands-Sugar Land,Galveston County,649370.0
2020-03-31,18723,5,Ingleside on the Bay,TX,Corpus Christi,San Patricio County,268114.0
2020-03-31,18726,5,Surfside Beach,TX,Houston-The Woodlands-Sugar Land,Brazoria County,482405.0
2020-03-31,18750,5,Fairchilds,TX,Houston-The Woodlands-Sugar Land,Fort Bend County,384703.0

In [20]:
avg_market_df.index = pd.to_datetime(avg_market_df.index)
avg_market_df.index = avg_market_df.index + pd.offsets.MonthEnd(0) 
avg_market_df

            Identifier  Average_Market_Days
Date
2010-01-31           2                133.0
2010-01-31           4                101.0
2010-01-31           9                136.0
2010-01-31          10                111.0
2010-01-31          15                122.0
...                ...                  ...
2020-02-29        2512                119.5
2020-02-29        2601                 91.5
2020-02-29        2618                157.0
2020-02-29        2636                166.0
2020-02-29        2676                 98.0

[16592 rows x 2 columns]

In [21]:
housing_data_df = housing_df.merge(avg_market_df, right_on=['Date', 'Identifier'], left_on=['Date', 'Identifier'], )
housing_data_df

,Identifier,Bedroom,RegionName,State,Metro,CountyName,Price,Average_Market_Days
Date,,,,,,,,
2010-01-31,2,1,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,67653.0,133.0
2010-01-31,2,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,89995.0,133.0
2010-01-31,2,3,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,116641.0,133.0
2010-01-31,2,4,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,167849.0,133.0
2010-01-31,2,5,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,303323.0,133.0
...,...,...,...,...,...,...,...,...
2020-02-29,1431,4,Duncanville,TX,Dallas-Fort Worth-Arlington,Dallas County,240716.0,57.0
2020-02-29,2307,4,Brownwood,TX,Brownwood,Brown County,230132.0,110.0
2020-02-29,1241,5,Haltom City,TX,Dallas-Fort Worth-Arlington,Tarrant County,281139.0,72.0
2020-02-29,1800,5,Socorro,TX,El Paso,El Paso County,141688.0,123.0
2020-02-29,2601,5,Royse City,TX,Dallas-Fort Worth-Arlington,Rockwall County,264290.0,91.5

In [22]:
housing_data_df.reset_index()

,Date,Identifier,Bedroom,RegionName,State,Metro,CountyName,Price,Average_Market_Days
0,2010-01-31,2,1,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,67653.0,133.0
1,2010-01-31,2,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,89995.0,133.0
2,2010-01-31,2,3,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,116641.0,133.0
3,2010-01-31,2,4,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,167849.0,133.0
4,2010-01-31,2,5,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,303323.0,133.0
...,...,...,...,...,...,...,...,...,...
7803,2020-02-29,1431,4,Duncanville,TX,Dallas-Fort Worth-Arlington,Dallas County,240716.0,57.0
7804,2020-02-29,2307,4,Brownwood,TX,Brownwood,Brown County,230132.0,110.0
7805,2020-02-29,1241,5,Haltom City,TX,Dallas-Fort Worth-Arlington,Tarrant County,281139.0,72.0
7806,2020-02-29,1800,5,Socorro,TX,El Paso,El Paso County,141688.0,123.0
7807,2020-02-29,2601,5,Royse City,TX,Dallas-Fort Worth-Arlington,Rockwall County,264290.0,91.5

In [23]:
housing_data_df = pd.get_dummies(housing_data_df, columns=['RegionName', 'State', 'Metro', 'CountyName'])
housing_data_df

,Identifier,Bedroom,Price,Average_Market_Days,RegionName_Austin,RegionName_Beaumont,RegionName_Brownwood,RegionName_Converse,RegionName_Coppell,RegionName_Crosby,...,CountyName_Jefferson County,CountyName_McLennan County,CountyName_Montgomery County,CountyName_Rockwall County,CountyName_Smith County,CountyName_Tarrant County,CountyName_Tom Green County,CountyName_Travis County,CountyName_Val Verde County,CountyName_Williamson County
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-31,2,1,67653.0,133.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-01-31,2,2,89995.0,133.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-01-31,2,3,116641.0,133.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-01-31,2,4,167849.0,133.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-01-31,2,5,303323.0,133.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-29,1431,4,240716.0,57.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-29,2307,4,230132.0,110.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-29,1241,5,281139.0,72.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2020-02-29,1800,5,141688.0,123.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-29,2601,5,264290.0,91.5,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [27]:
# Saving the encoded dataset
file_path = Path("../housing_data_TX_encoded.csv")
housing_data_df.to_csv(file_path, index=True)

In [28]:
housing_price_2020= housing_data_df.loc['2020']
housing_price_2020

,Identifier,Bedroom,Price,Average_Market_Days,RegionName_Austin,RegionName_Beaumont,RegionName_Brownwood,RegionName_Converse,RegionName_Coppell,RegionName_Crosby,...,CountyName_Jefferson County,CountyName_McLennan County,CountyName_Montgomery County,CountyName_Rockwall County,CountyName_Smith County,CountyName_Tarrant County,CountyName_Tom Green County,CountyName_Travis County,CountyName_Val Verde County,CountyName_Williamson County
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-31,2,1,106161.0,104.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-31,2,2,142883.0,104.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-31,2,3,176138.0,104.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-31,2,4,236815.0,104.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-31,2,5,401345.0,104.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-29,1431,4,240716.0,57.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-29,2307,4,230132.0,110.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-29,1241,5,281139.0,72.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2020-02-29,1800,5,141688.0,123.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-29,2601,5,264290.0,91.5,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [29]:
len(housing_price_2020)

128